/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/experiments/
gems.locked
*.so
*.bundle
example*json
.DS_Store
.rspec_status
bin/
.cursor/
ext/direct_bind_testing_extension/direct-bind.c
ext/direct_bind_testing_extension/direct-bind.h
spec/examples.txt
